.text-page {
  display: flex;
  padding: 0 32px;
  gap: 104px;

  .side-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 56px;
    position: fixed;

    @media(max-width: 1780px) {
      width: 200px;
    }

    @media(max-width: 1550px) {
      width: 280px;
      position: static;
    }

    &__title {
      color: #222429;
      font-size: 16px;
      font-weight: 600;
    }

    a {
      color: #808185;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;

      &.active {
        color: #D0112B;
      }

      &:hover {
        color: #D0112B;
      }
    }
  }
  &__wrapper {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 40px;
  }

  h1 {
    color: #222429;
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
  }

  p {
    color: #55575C;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 24px;

    a {
      color: #2967A1;
    }
  }

  ul {
    padding-left: 25px;

    li {
      list-style: disc;
      color: #55575C;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
    }
  }

  .btn {
    max-width: fit-content;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    border-radius: 16px;
    background: #D0112B;
    margin-top: 24px;
  }

  h2 {
    color: #222429;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 40px;
  }

  h3 {
    color: #222429;
    margin-top: 40px;
    font-size: 24px;
    font-weight: 700;
  }

  a {
    color: #2967A1;
  }

  .text-page-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    img {
      width: 176px;
      height: 176px;
      border-radius: 50%;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 24px;
      color: #222429;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;

      span {
        display: block;
        font-weight: 600;
        color: #222429;
      }

      a {
        color: #2967A1;
      }
    }
  }

  .btn-wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
