.structure {
    padding: 10px 20px 0 10px;
    display: table;
    width: 100%;
    table-layout: fixed;
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    margin-top: 20px;
    padding-bottom: 400px;

    table {
        margin: 0 auto;
    }

    &-dept-block {
        border: 1px solid #222429;
        border-radius: 8px;
        position: relative;
        vertical-align: top;
        width: 384px;
        text-align: left;
        background: #fff;
        display: flex;
        flex-direction: column;
        height: 245px;

        span {
            color: #808185;
            font-size: 12px;
            font-weight: 400;
            margin-top: 2px;
        }
    }



    &-org {
        width: 160px;
        border-radius: 16px;
        background: #55575C;
        color: #FFF;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        text-align: center;
        padding: 5px 0;
        cursor: pointer;
        margin: 0 auto;
        position: relative;
    }

    &-dept-title {
        position: relative;
        border-bottom: 1px solid #222429;
        font-size: 13px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        height: max-content;
    }

    .structure-dept-title {
        padding: 24px 16px;
    }

    #structure_level1_table .structure-dept-title {
        background-color: #D0112D;
    }

    &-dept-title-text {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 16px;

        a {
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
        }
    }

    &-boss-block {
        height: 30px;
        margin: 16px;
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &-avatar {
        display: block;
        height: 32px;
        width: 32px;
        border-radius: 100%;
        overflow: hidden;
    }

    &-boss-name {
        color: #222429;
        font-size: 13px;
        font-weight: 600;
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 16px;

        span {
            display: block;
        }
    }

    &-employee-title {
        color: #222429;
        font-size: 13px;
        font-weight: 400;
        padding: 0 16px;
        position: relative;
        cursor: pointer;

        &:hover {
            .structure-employee__tooltip {
                z-index: 9999999;
                opacity: 1;
                transition: 0.35s;
            }
        }
    }

    &-employee-block {
        margin-top: auto;
    }

    &-employee-list {
        display: flex;
        align-items: center;
        margin: 8px 16px 0 0 !important;

        .structure-avatar:not(:first-child) {
            margin-left: -10px !important;
        }
    }

    .structure-dept-title {
        background: #1B3E6F;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    &-employee__tooltip {
        position: absolute;
        background: #fff;
        border-radius: 16px;
        padding: 16px;
        filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.08));
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        top: 21px;
        width: 384px;
        z-index: -1;
        opacity: 0;
        transition: 0.35s;

        &::after {
            content: " ";
            position: absolute;
            bottom: 100%;
            left: 12%;
            filter: drop-shadow(0px 8px 32px rgba(0, 0, 0, 0.08));
            margin-left: -5px;
            border-width: 7px;
            border-style: solid;
            border-color: transparent transparent #fff transparent;
        }

        .structure-boss-block {
            margin: 0;
            padding-bottom: 16px;
            border-bottom: 1px solid #E9EAEA;
            height: auto;
        }

        .structure-avatar {
            width: 40px;
            height: 40px;

        }

        .structure-boss-name {
            color: #222429;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
        }

        span {
            color: #808185;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            margin-top: 2px;
        }

        .structure-employee-block {
            display: flex;
            flex-direction: column;
            gap: 16px;
            max-height: 250px;
            overflow: auto;

            .structure-employee__item {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }

        &::-webkit-scrollbar {
            background: #E9EAEA !important;
        }
    }

    .grid-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
    }

    .grid-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }

    .flex-2 {
        display: flex;
        gap: 32px;
    }

    #structure_level2_table,
    #structure_level22_table {
        background-image: url('../images/line3.svg');
        background-repeat: no-repeat;
        padding-top: 45px;
        background-position-x: 50%;

        tr:first-child td {
            .structure-dept-title {
                background: #1B3E6F;
            }
        }

        tr:nth-child(2) td {
            padding-top: 45px;
            background-image: url('../images/line4.svg');
            background-repeat: no-repeat;
            background-position-x: 50%;

            .structure-dept-title {
                background: #55565A;
            }
        }
    }

    #structure_level3_table {
        background-image: url('../images/line5.svg');
        background-repeat: no-repeat;
        padding-top: 45px;
        background-position-x: 50%;

        tr:first-child td {
            .structure-dept-title {
                background: #8A8A8D;
            }
        }
    }

    #structure_level4_table {
        background-image: url('../images/line6.svg');
        background-repeat: no-repeat;
        padding-top: 45px;
        background-position-x: 80%;

        tr:first-child td {
            .structure-dept-title {
                background: #CBC8C8;

                a {
                    color: #222429;
                }
            }
        }
    }

    #structure_level5_table {
        background-image: url('../images/line7.svg');
        background-repeat: no-repeat;
        padding-top: 45px;
        background-position-x: 100%;

        tr:first-child td {
            .structure-dept-title {
                background: #CBC8C8;

                a {
                    color: #222429;
                }
            }
        }
    }

    table[data-popup] {
        display: none;

        &._is-open {
            display: table;
        }
    }

    &-nesting-block {
        display: block;
        margin: 0 -3px;
        overflow: hidden;
        text-align: center;
        height: auto;
        position: relative;

        .structure-nesting-bottom1, .structure-nesting-bottom2 {
            background-color: #fff;
            border: 1px solid #222429;
            border-radius: 5px;
            height: 20px;
            left: 2px;
            right: 2px;
            position: absolute;
        }

        .structure-nesting-bottom1 {
            top: -6px;
        }

        .structure-nesting-bottom2 {
            top: -17px;
        }

    }

    &-column {
        margin: 0 !important;

        td {
            padding-top: 0 !important;
            background: initial !important;
        }
    }
}

.structure2 {
    .structure-column tbody {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    #structure-colum1 {
        background-image: url('../images/line11.svg') !important;
        padding-left: 45px;
        background-position-x: 7% !important;
    }

    #structure-colum2 {
        background-image: url('../images/line12.svg') !important;
        padding-left: 45px;
        background-position-x: 7% !important;
    }

    #structure-colum3 {
        background-image: url('../images/line13.svg') !important;
        padding-left: 45px;
        background-position-x: 7% !important;
    }
}

//#bx_visual_structure {
    .structure-dept-title {
        border-color: #222429 !important;
        padding: 24px 16px;
        background-color: #D0112D !important;

        .structure-dept-first .structure-dept-title-text {
            max-width: 100%;
        }

        a:hover {
            text-decoration: underline;
            color: #fff !important;
        }
    }

    .structure-boss-name {
        padding-left: 10px;
    }

    .structure-manager {
        position: absolute;
        top: 22px;
        left: 44px;
        width: 100% !important;
    }

    .structure-boss-name:hover {
        color: inherit;
    }

    .structure-employee-title {
        display: none;
    }

    .structure-more-employee, .structure-more-employee:link, {
        position: absolute;
        top: -11px;
        left: -10px;
        color: #222429 !important;
        font-size: 13px!important;
        font-weight: 400!important;
        padding: 0 16px;
        cursor: pointer;
        text-decoration: none !important;
    }


    table:not(:first-child) {
        tr {

            padding-left: 30px !important;

            .structure-dept-title {
                background-color: #55565A !important;
            }

            td {
                padding: 20px 0 -5px 0 !important;
            }
        }

        tr:first-child {
            .structure-dept-title {
                background-color: #1B3E6F !important;
            }
        }
    }

    tr.bx-str-l3 td.bx-str-l3-connector.bx-str-first {
        width: 21px;
        padding-right: 15px !important;
        background-position: left center !important;
        background-size: cover !important;
    }

    .structure-nesting-block {
        display: block;
        margin: 0 -3px;
        overflow: hidden;
        text-align: center;
        height: auto;
        position: relative;

        .structure-nesting-bottom1, .structure-nesting-bottom2 {
            background-color: #fff;
            border: 1px solid #222429;
            border-radius: 5px;
            height: 20px;
            left: 2px;
            right: 2px;
            position: absolute;
        }

        .structure-nesting-bottom1 {
            top: -6px;
        }

        .structure-nesting-bottom2 {
            top: -17px;
        }

    }


.popup-window {
    .structure-boss-block {
        height: 40px;
    }

    .structure-dept-emp-popup a {
        color: #222429 !important;
        font-size: 13px !important;
        font-style: normal !important;
        font-weight: 600 !important;
        line-height: 16px !important;
    }

    .structure-employee-name {
        margin-top: -15px;
        margin-left: 5px;
        position: absolute;
        left: 38px;
        top: 23px;
    }

    .structure-employee-post {
        position: absolute;
        top: 24px;
        left: 42px;
    }
}

.structure-dept-title-text {
    max-width: 100% !important;
}

.structure-dept-third .structure-dept-title-text {
    width: 100%;
}

.structure-dept-third .structure-boss-name {
    width: 100% !important;
}

.structure-dept-second .structure-manager, .structure-dept-first .structure-manager {
    max-width: 100% !important;
}

tr.bx-str-l3 td.bx-str-l3-connector {
    background-position: 3px center !important;
}

tr.bx-str-l3 td {
    padding: 20px 0px 5px 0px !important;
}

.structure-nesting-bottom3 {
    display: none !important;
}

structure-nesting-bottom1 {
    top: -9px !important;
}

.structure-nesting-text {
    border-radius: 16px !important;
    background: #55575C !important;
    color: #FFF !important;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 500 !important;
    text-align: center;
    padding: 5px 8px !important;
    cursor: pointer;
}

.structure-dept-block span {
    margin-top: 0 !important;
}

.structure-dept-title-text {
    color: #fff;
}

.structure-employee-block .structure-avatar {
    margin: 0 !important;
}

.structure-dept-third .structure-employee-block {
    margin-top: auto !important;
}

.structure-employee-list {
    height: 32px !important;
    flex-wrap: wrap;
}

.bx-str-result .structure-dept-title {
    background: #55565A;
    background-color: #55565A !important;
}

.structure-employee-block {
    height: 50px !important;
}

.side-panel.side-panel-overlay.side-panel-overlay-open {
    right: 0 !important;
}

tr.bx-str-l3 td.bx-str-l3-connector {
    background-position: 3px 0px !important;
    background-size: cover;
}
